<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>1 - Expanding Cards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
</head>
<body>
    <div class="main-container">
        <div class="img-lg" style="background-image: url('../assets/img_1.jpg')"></div>
        <div class="img-sm" style="background-image: url('../assets/img_2.jpg')"></div>
        <div class="img-sm" style="background-image: url('../assets/img_3.jpg')"></div>
        <div class="img-sm" style="background-image: url('../assets/img_4.jpg')"></div>
        <div class="img-sm" style="background-image: url('../assets/img_5.jpg')"></div>
    </div>
</body>
</html>