<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>1 - Expanding Cards</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./index.css">
</head>
<script src="../scripts/index.js"></script>
<body>
    <div class="main-container">
        <div id="i-1" class="img-lg" onclick="onClickImage('i-1')">
            <a 
            id="a-1"
            href="https://unsplash.com/photos/jbtfM0XBeRc"
            target='_blank'
            style="display: block;"
            >
                <button id="btn-1">Image Source</button>
            </a>
        </div>
        
        <div id="i-2" class="img-sm" onclick="onClickImage('i-2')">
            <a 
            id="a-2"
            href="https://unsplash.com/photos/ShhuLsZREvM"
            target='_blank'
            style="display: none;"
            >
                <button id="btn-2">Image Source</button>
            </a>
        </div>

        <div id="i-3" class="img-sm" onclick="onClickImage('i-3')">
            <a 
            id="a-3"
            href="https://unsplash.com/photos/UUjxTEET0c0"
            target='_blank'
            style="display: none;"
            >
                <button id="btn-3">Image Source</button>
            </a>
        </div>

        <div id="i-4" class="img-sm" onclick="onClickImage('i-4')">
            <a 
            id="a-4"
            href="https://unsplash.com/photos/pVoEPpLw818"
            target='_blank'
            style="display: none;"
            >
                <button id="btn-4">Image Source</button>
            </a>
        </div>

        <div id="i-5" class="img-sm" onclick="onClickImage('i-5')">
            <a 
            id="a-5"
            href="https://unsplash.com/photos/wQLAGv4_OYs"
            target='_blank'
            style="display: none;"
            >
                <button id="btn-5">Image Source</button>
            </a>
        </div>
    </div>
</body>
</html>