.main-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    padding-left: 2rem;
    padding-right: 2rem;
}

.img-sm {
    width: 5%;
    height: 35rem;
    background-size: auto 100%;
    border-radius: 2rem;
}

.img-lg {
    width: 60%;
    height: 35rem;
    background-size: auto 100%;
    border-radius: 2rem;
    box-shadow: 0.65rem 0.65rem 2rem gray;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-content: left;
    padding-left: 1rem;
    padding-bottom: 1rem;
}

button{
    font-size: 1rem;
    background-color: rgba(0,0,0,0.5);
    border: 0.1rem solid white;
    border-radius: 0.5rem;
    color: white;
    padding: 0.2rem 0.2rem 0.2rem 0.2rem;
}